.course-question {
	display: inline-block;
	width: 100%;
}

.course-question .course-question-place {
	background-color: #f2f2f2;
	min-height: 4px;
	min-width: 4px;
	border-radius: 3px;
	animation-name: AnimPlace;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes AnimPlace {
	0% { opacity: 1;  }
	50% { opacity: .5; }
	100% { opacity: 1; }
}

.course-question .course-question-info {
	/* display: flex; */
	margin-bottom: 20px;
}

.course-question .course-question-info .course-question-img {
	width: 200px;
    height: 200px;
}

.course-question .course-question-info .course-question-title {
	width: 100%;
	margin-bottom: 10px;
	height: 20px;
}
.course-question .course-question-info .course-question-title:nth-child(2) {
	width: 70%;
}
.course-question .course-question-info .course-question-title:nth-child(3) {
	width: 50%;
}
.course-question .course-question-info .course-question-title:nth-child(4) {
	width: 20%;
}

@keyframes AnimPlace {
	0% { opacity: 1;  }
	50% { opacity: .5; }
	100% { opacity: 1; }
}

.hoverable-shadow{
    cursor: pointer;
    transition: all .2s;
}

.hoverable-shadow:hover{
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.23);
}
